body{
    background: linear-gradient(90deg, #5d49b9 0%, #bbd4af 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.title-span{
    font-size: 15px;
    margin-left: 5%;
    color: #dd1a00;
}
#file1{
 align-self: center;
 justify-self: center;
 width: 300px; 
 border: 2px solid ;/* Adjust the width as needed */
 padding: 20px;;
 border-radius: 5px;
}
#title1{
    float: left;
    color: black;
    font-size: 20px;
}
#file2{
    align-self: center;
    justify-self: center;
    width: 300px; 

    border: 2px solid ;/* Adjust the width as needed */
    padding: 20px;;
    border-radius: 5px;
   }
   #title2{
       float: left;
       color: black;
       font-size: 20px;
   }
#button{
    width: 300px;
    height: 80px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #dd1a00;
    cursor: pointer;
}

#plagiarismResult{
    font-size: 18px;
    font-weight: w.700;
    color: white;
}